@page "/Ciudad/Index"
@using Ronalfy_Jimenez_P2_Ap1.Services
@inject CiudadService ciudadService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Registro de Ciudades</PageTitle>

<div class="card shadow-lg">
    <div class="card-header bg-white text-center text-white py-3 rounded">
        <h3 class="font-weight-bold text-black">Registro de Ciudades</h3>
    </div>


    <div class="row mb-3 align-items-center px-3">
        <div class="col-md-3">
            <label for="Filtro" class="form-label">Filtrar por:</label>
            <select class="form-select" @bind="filtro">
                <option value="AporteID">CiudadId</option>
                <option value="Nombre">Nombre</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="ValorFiltro" class="form-label">B&uacute;squeda:</label>
            <div class="input-group">
                <input type="text" class="form-control" @bind="valorFiltro" placeholder="Buscar" />
                <button class="btn btn-primary" type="button" @onclick="Buscar">
                    <i class="bi bi-search"></i> Buscar
                </button>
            </div>
        </div>
        <div class="col-md-3 text-end">
            <a href="/Ciudad/Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Crear
            </a>
        </div>
    </div>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>CiudadId</th>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (Listar != null && Listar.Count > 0)
            {
                @foreach (var ciudades in Listar)
                {
                    <tr>
                        <td>@ciudades.CiudadId</td>
                        <td>@ciudades.Nombre</td>
                        <td>@ciudades.MontoBase</td>

                        <td>
                            <a href="/Ciudad/Edit/@ciudades.CiudadId" class="btn btn-outline-success">
                                <i class="bi bi-pencil-square fs-4"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/Ciudad/Delete/@ciudades.CiudadId" class="btn btn-outline-danger">
                                <i class="bi bi-trash-fill fs-4"></i>
                            </a>
                        </td>
                    </tr>

                }
                <tr>
                    <td colspan="5" class="text-end fw-bold">Total:</td>
                    <td class="fw-bold">@TotalMontos</td>
                    <td colspan="2"></td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="8">No se encontraron resultados</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="card-footer d-flex justify-content-between">
        <p>Conteo: @Listar.Count</p>
    </div>
</div>

@code {

    public List<Ciudades> Listar { get; set; } = new List<Ciudades>();
    public string filtro { get; set; } = "CiudadID";
    public string valorFiltro { get; set; } = string.Empty;
    public double TotalMontos { get; set; }=0;
   

    protected override async Task OnInitializedAsync()
    {
        Listar = await ciudadService.Listar(s => true);
    }

    public async Task Buscar()
    {
        if (string.IsNullOrEmpty(valorFiltro))
        {
            Listar = await ciudadService.Listar(P => true);
        }
        else if (filtro == "ID" && int.TryParse(valorFiltro, out int ciudadId))
        {
            Listar = await ciudadService.Listar(s => s.CiudadId == ciudadId);
        }
        else if (filtro == "Nombre")
        {
            Listar = await ciudadService.Listar(s => s.Nombre.Contains(valorFiltro));
        }
    }

}
